body{background-color: black;}

h1 {
    text-align: center;
    background: #ffffff;
}


p {
    text-align: center;
    background: #ffffff;
}
em strong {
    color: red;
}

#missão { font-size: 20px;
}
#banner { width: 100%;
}